{% extends 'base/base.html' %}


{% block title %}
    Dashboard POS
{% endblock %}


{% block content %}
<div class="page-card">

    <h1 class="mb-4">

        Dashboard PuntoVentaPOS

    </h1>

    <div class="row">

        <div class="col-md-4">

            <div class="card shadow-sm">

                <div class="card-body">

                    <h5 class="card-title">
                        Productos
                    </h5>

                    <p class="card-text">
                        Gestión de productos del sistema.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow-sm">

                <div class="card-body">

                    <h5 class="card-title">
                        Ventas
                    </h5>

                    <p class="card-text">
                        Gestión de ventas y comprobantes.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow-sm">

                <div class="card-body">

                    <h5 class="card-title">
                        Clientes
                    </h5>

                    <p class="card-text">
                        Gestión de clientes.
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>


{% endblock %}